BACKEND_API_URL=https://api.safetech.ge/api
NEXT_PUBLIC_API_URL=https://api.safetech.ge/api
NEXT_PUBLIC_SITE_URL=https://safetech.ge
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GA_ID=
GOOGLE_SITE_VERIFICATION=
REVALIDATE_SECRET=
NODE_ENV=production
